<h1 id="profile">Profile</h1>
<div class="row content-row">
	<table>
	<tr>
		<td>
			<div style="width:300px; height:300px;">
			    <a href="#" class="thumbnail">
			      <%= image_tag("photo.jpg") %>
			    </a>
			</div>
		</td>

		<td>
			<a href="http://ca.linkedin.com/pub/gerald-ding/73/3b/a70/en">
				<%= image_tag("linkedin.gif", size: "50x50") %>
			</a>

			<a href="https://github.com/geralddzx">
				<%= image_tag("github.png", size: "50x50") %>
			</a>

			<a style="font-size:20px;vertical-align:middle" target="_blank" href="<%= asset_path('resume.pdf') %>">My Resume</a><br>
			<div style="width:500px;">
				Hello. My name is Gerald Ding. I specialize in building full stack web applications with Ruby on Rails. I am also proficient in building real time applications with Node.
			</div> 
		</td>
	</tr>
	</table>
</div>


<h1 id="projects">Projects</h1>
<div class="row content-row">
	<div class="col-xs-7">
		<div id="projects-carousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#projects-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#projects-carousel" data-slide-to="1"></li>
				<li data-target="#projects-carousel" data-slide-to="2"></li>
				<li data-target="#projects-carousel" data-slide-to="3"></li>
				<li data-target="#projects-carousel" data-slide-to="4"></li>
			</ol>
			<div class="carousel-caption-tab"></div>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<a href="http://scbt.herokuapp.com/">
	      				<%= image_tag("projects/scbt.jpg") %>
	    			</a>
	    			<div class="carousel-caption">
						<h3>Stanford College Student Portal</h3>
					</div>
				</div>

				<div class="item">
					<a href="http://geralddzx.github.io/space%20wars/index.html?">
	      				<%= image_tag("projects/space.jpg") %>
					</a>
					<div class="carousel-caption">
						<h3>Space Wars</h3>
					</div>
				</div>

				<div class="item">
					<a href="http://geralddzx.github.io/timeline%20monitor/index.html">
	      				<%= image_tag("projects/monitor.jpg") %>
	    			</a>
	    			<div class="carousel-caption">
						<h3>Device Monitor</h3>
					</div>
				</div>

				<div class="item">
					<a href="http://www.carlislecapital.ca/">
	      				<%= image_tag("projects/carlisle.png") %>
	    			</a>
	    			<div class="carousel-caption">
						<h3>Carlisle Capital</h3>
					</div>
				</div>

				<div class="item">
					<a href="http://rnfc.herokuapp.com/">
	      				<%= image_tag("projects/rnfc.jpg") %>
	    			</a>
	    			<div class="carousel-caption">
						<h3>RN Financial Research Center</h3>
					</div>
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" data-target="#projects-carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<!-- <span class="sr-only">Previous</span> -->
			</a>
			<a class="right carousel-control" data-target="#projects-carousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<!-- <span class="sr-only">Next</span> -->
			</a>
		</div>
	</div>
</div>

<h1 id="contact">Contact</h1>
<div class="row content-row">
	<form accept-charset="UTF-8" action="/contact" method="post" style="width:300px;">
	  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	  <input class="form-control" placeholder="Name" name="contact[name]" type="text" />
	  <input class="form-control" placeholder="Email" name="contact[email]" type="email" />
	  <input class="form-control" placeholder="Subject" name="contact[subject]" type="text" />
	  <textarea name="contact[content]" class="form-control" placeholder="Please submit a message" required style="height:200px;"></textarea>
	  <input class="btn btn-default" type="submit" value="Submit" />
	</form>
</div>

