<!DOCTYPE html>
<html ng-app="gerald">
<head>
  <title>Gerald</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= render partial: "script" %>
</head>

<body>
	<%= render partial: "layouts/header" %>
	<div class="container-fluid">
		<%= yield %>
	</div>
</body>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
</html>
